.summary {
    margin-bottom: 4rem;
    
    time {
        color: map-get($primary, 200);
        font-weight: bold;
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.paginator {
    text-align: center;
}
