<aside class="floating">
	<nav class="nav" id="sidebar-nav">
		{{ $permalink := print (relURL .Permalink) }}
		{{ range .Site.Menus.main }}
		<details open id="{{ .Name | anchorize }}">
			<summary>{{ if .URL }}<a href="{{ .URL }}">{{ end }}{{ .Name }}{{ if .URL }}</a>{{ end }}</summary>

			{{ with .Children }}
			<ul>
			{{ range . }}
				{{ $url := print .URL }}
				{{ $class := "" }}
				{{ if (eq $permalink $url) }}
					{{ $class = "selected" }}
				{{ end }}
				<li><a class="{{$class}}" href="{{ .URL }}">{{ .Name }}</a></li>
			{{ end }}
			</ul>
			{{ end }}
		</details>
		{{ end }}
	</nav>
	<script>
		sidebar = document.getElementById("sidebar-nav");
		last = sidebar.lastElementChild;
		
		if (sidebar.clientHeight + 32 > window.innerHeight)
			last.open = false;
	</script>
</aside>
